#background {
  background-image: url("images/background.jpg");
}
#Center_Panel {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#title {
  font-family: sans-serif;
  text-align: center;
}
#Site_description {
 font-family: sans-serif;
  text-align: center;
}


.Criteria_box1 {
  margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;
  margin-bottom: 20px; 
  width: 400px;
  height: 150px;
  background-color: #404040;
  border: 1px solid #000000;
  box-shadow: -3px 3px 8px 2px #505050;
}
.Criteria_box1_v2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 108px;
  background-color: #404040;
  border: 1px solid #000000;
  box-shadow: -3px 3px 8px 2px #505050;
}

.Criteria_box2 {
  margin: 6px;
  border: 1px dotted #707070;
  width: 386px;
  height: 136px;
  background-color: #454545;
}
.Criteria_box2_v2 {
  margin: 6px;
  border: 1px dotted #707070;
  width: 386px;
  height: 94px;
  background-color: #454545;
}

.Criteria_box3 {
  font-family: sans-serif;
  margin: 6px;
  border: 1px solid #707070;
  width: 372px;
  height: 122px;
  outline: 1px #000000 solid;
  background-color: #505050;
}
.Criteria_box3_v2 {
  font-family: sans-serif;
  margin: 6px;
  border: 1px solid #707070;
  width: 372px;
  height: 80px;
  outline: 1px #000000 solid;
  background-color: #505050;
}
.Specifier_box1 {
  width: 130px;
  height: 106px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;  
  float: left;
}
.Specifier_Heading {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  margin: 0px;
  color: #d0d0d0;
  border-bottom: 1px solid #757575;
}
.Specifier_Heading2 {
  width: 130px;
  height: 20px;
  padding: 0px;
  margin-top: 8px; 
  margin-left: 8px;
  margin-bottom: 0px;
  margin-right: 0px;
  color: #d0d0d0;
  border-bottom: 1px solid #757575;
  float: left;
}
.Specifier_Description {
  margin-top: 8px;
  font-size: 12px;
  color: #d0d0d0;
}
.Specifier_Description2 {
  padding: 0px;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 12px;
  color: #d0d0d0;
  float: left;
  clear: left;
}

.Specifier_box2 {
  width: 218px;
  height: 106px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 0px;
  float: left;
}
#Genre_DD {
  width: 130px;
  padding: 0px;
  margin: 0px;
  float: left;
}
#Genre_Addition_box, #Actor_Addition_box,
#Director_Addition_box, #Keyword_Addition_box {
  margin: 0px;
  padding: 0px;
  height: 30px;
}
#Add_Genre, #Add_Actor, #Add_Director, #Add_Keyword {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  float: left;
}
#Reset_Genres, #Reset_Actor, #Reset_Director, #Reset_Keyword {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  width: 44px;
}
#Selected_Genres, #Selected_Actors, 
#Selected_Directors, #Selected_Keywords {
  width: 218px;
  height: 80px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.Genre_Container {
  width: 106px;
  height: 23px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: left;
  /*border: 1px solid #000000; */ 
}
#Sci-Fi {
  font-size: 12px;
  color: #d0d0d0;
  width: 95px;
  height: 14px;
  padding: 2px;  
  margin: auto;  
  border: 1px solid #808080; 
  border-radius: 5px;
} 
#Documentary {
  font-size: 12px;
  color: #d0d0d0;
  width: 85px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
} 
#Mystery {
  font-size: 12px;
  color: #d0d0d0;
  width: 52px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
} 
#Romance {
 font-size: 12px;
  color: #d0d0d0;
  width: 56px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
}
#Thriller {
  font-size: 12px;
  color: #d0d0d0;
  width: 45px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
} 
#Drama {
  font-size: 12px;
  color: #d0d0d0;
  width: 44px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
} 
#Adventure {
  font-size: 12px;
  color: #d0d0d0;
  width: 65px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
}
#Animation {
  font-size: 12px;
  color: #d0d0d0;
  width: 65px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080; 
  border-radius: 5px;
}
#Action {
  font-size: 12px;
  color: #d0d0d0;
  width: 42px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Comedy {
  font-size: 12px;
  color: #d0d0d0;
  width: 56px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
} 
#Fantasy {
  font-size: 12px;
  color: #d0d0d0;
  width: 50px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Historical {
  font-size: 12px;
  color: #d0d0d0;
  width: 60px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Horror {
  font-size: 12px;
  color: #d0d0d0;
  width: 42px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Political {
  font-size: 12px;
  color: #d0d0d0;
  width: 50px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Western {
  font-size: 12px;
  color: #d0d0d0;
  width: 54px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}
#Crime {
  font-size: 12px;
  color: #d0d0d0;
  width: 40px;
  height: 14px;
  padding: 2px;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 5px;
}



#Actor_Input, #Director_Input, #Keyword_Input {
  width: 115px;
  float: left;
  font-size: 14px;
}
.Actor_Container {
  height: 14px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.Actor, .Director, .Keyword {
  font-size: 12px;
  color: #d0d0d0;
  width: 215px;
  height: 14px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#Decade_Selector {
  width: 100px;
  margin-left: 10px;  
}

#Length_Selector {
  width: 130px;
  height: 30px;
  margin-right: 0px;
  margin-left: 10px;
  float: left;
} 
#Length_Selector2 {
  margin: 0px;
  padding-left: 22px;
  width: 222px; 
  height: 48px;
  float: left;
}
#LessthanInput, #LessthanInput1 {
  margin-left: 0px;
  margin-top: 8px;
  margin-right: 4px;
  width: 24px;
  height: 14px;
  text-align: right;
  float: left;
}
.mins {
  font-size: 14px;
  color: #d0d0d0;
  margin-right: 6px;
  float: left;
}
.and {
  font-size: 14px;
  color: #d0d0d0;
  margin-right: 7px;
  float: left;
}


#Submit-Form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  background-color: #404040;
  border: 1px solid #000000;
  box-shadow: -3px 3px 8px 2px #505050;
}
#Search_box1 {
  margin: 4px;
  border: 1px dotted #707070;
  width: 90px;
  height: 40px;
  background-color: #454545;
  text-align: center;
}
#Search_Button {
  width: 82px;
  height: 32px;
  font-size: 16px;
  color: #d0d0d0;
  border: 1px solid #707070;
  outline: 1px #000000 solid;
  background-color: #505050;
  margin: 4px;
}

#Film_Criteria_Object, #Film_Criteria_Object1, #Film_Criteria_Object2, #page_decrement, #page_increment  {
  display: none;
}

#decrement_page_button, #page_number_info, #increment_page_button {
	float: left;
}

#page_selector_buffer {
	visibility: hidden;
}
/* search results page styles */

.Result_box1 {
  margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;
  margin-bottom: 20px; 
  width: 500px;
  height: 261px;
  background-color: #404040;
  border: 1px solid #000000;
  box-shadow: -3px 3px 8px 2px #505050;
}
.Result_box2 {
  margin: 6px;
  border: 1px dotted #707070;
  padding: 0px;
  width: 486px;
  height: 247px;
  background-color: #454545;
}
.Result_box3 {
  font-family: sans-serif;
  margin: 6px;
  border: 1px solid #707070;
  padding: 0px;
  width: 470px;
  height: 231px;
  outline: 1px #000000 solid;
  background-color: #505050;
}
.Img_Poster {
  padding: 0px;
  width: 154px;
  height: 231px;
  float: left;
}
.Movie_Header {
  padding: 0px;
  width: 316px;
  height: 80px;
  margin: 0px;
  float: left;
}
.Movie_title_box {
  margin: 0px;
  padding: 6px;
  width: 146px;
  height: 68px;
  float: left; 
}
.Movie_title {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  width: 146px;
  height: 68px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #d0d0d0;
}
.Movie_runtime_box {
  float: left;
  margin: 0px;
  padding: 6px;
  width: 55px;
  height: 68px; 
}
.Movie_runtime {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  width: 60px;
  height: 68px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #d0d0d0;
}
.Movie_genrelist_box {
  margin: 0px;
  padding: 6px;
  width: 79px;
  height: 68px;
  float: left;
}
.Movie_genrelist {
  font-family: sans-serif;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  width: 79px;
  height: 68px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #d0d0d0;
}
.Movie_overview_box {
  margin: 0px; 
  padding: 6px;
  width: 304px;
  height: 88px;
  float: left;
}
.Movie_overview {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px; 
  padding: 0px;
  width: 304px;
  height: 88px;
  overflow: scroll;
  color: #d0d0d0;
}
.People_box {
  font-size: 12px;
  color: #d0d0d0;
  font-family: sans-serif;
  float: left;
  margin: 0px;
  padding: 6px;
  width: 304px;
  height: 39px;
}
.Movie_overview_box_no_people {
  margin: 0px; 
  padding: 6px;
  width: 304px;
  height: 139px;
  float: left;
}
.Movie_overview_no_people {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px; 
  padding: 0px;
  width: 304px;
  height: 139px;
  overflow: scroll;
  color: #d0d0d0;
}
